
<!DOCTYPE html>
<html>
<head>
	<title>CBG Quizzes</title>
</head>
<body>
	
</body>
</html>
<h1>Welcome to Chris Guthrie's Quizzes Web App</h1>

<h2>This is to satisfy the quiz #1 requirement for the Vanderbilt Boot Camp!!</h2>